openapi: 3.0.3
info:
  title: PebbleHost
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://panel.pebblehost.com'
paths:
  /api/client/account:
    get:
      summary: 'Get user details.'
      operationId: getUserDetails
      description: 'Returns information about the currently authenticated user.'
      parameters: []
      responses:
        200:
          description: 'Authenticated user details'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: user
                  attributes:
                    id: null
                    admin: false
                    email: ethelyn.toy@langworth.com
                    language: en
                properties:
                  object:
                    type: string
                    example: user
                  attributes:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      admin:
                        type: boolean
                        example: false
                      email:
                        type: string
                        example: ethelyn.toy@langworth.com
                      language:
                        type: string
                        example: en
      tags:
        - Account
  /api/client/account/activity:
    get:
      summary: 'Get user activity logs.'
      operationId: getUserActivityLogs
      description: "Returns activity logs associated with the authenticated user's account."
      parameters:
        -
          in: query
          name: include
          description: 'Additional relationships to include in the response'
          example: actor
          required: false
          schema:
            type: array
            description: 'Additional relationships to include in the response'
            example: actor
            items:
              type: string
              enum:
                - actor
        -
          in: query
          name: 'filters[event]'
          description: 'Filter by event type (partial)'
          example: auth.success
          required: false
          schema:
            type: string
            description: 'Filter by event type (partial)'
            example: auth.success
        -
          in: query
          name: sort
          description: 'Sort by field, by default the sort order is ascending, to sort in descending order prefix the field with a hypen (`-`)'
          example: timestamp
          required: false
          schema:
            type: string
            description: 'Sort by field, by default the sort order is ascending, to sort in descending order prefix the field with a hypen (`-`)'
            example: timestamp
        -
          in: query
          name: page
          description: 'Page number for pagination'
          example: '2'
          required: false
          schema:
            type: integer
            description: 'Page number for pagination'
            example: '2'
        -
          in: query
          name: per_page
          description: 'Maximum number of resources to return per-page'
          example: '25'
          required: false
          schema:
            type: integer
            description: 'Maximum number of resources to return per-page'
            example: '25'
      responses:
        200:
          description: 'List of Activity Logs'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: list
                  data:
                    -
                      object: activity_log
                      attributes:
                        id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                        batch: null
                        type: user
                        event: test
                        is_api: false
                        ip: null
                        description: 'Non explicabo soluta omnis expedita vel magni. Qui tempora saepe ut dicta et dolorum tempore. Similique et asperiores libero facilis animi rerum.'
                        properties: {  }
                        has_additional_metadata: false
                        timestamp: '2025-03-14T18:50:02+00:00'
                    -
                      object: activity_log
                      attributes:
                        id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                        batch: null
                        type: user
                        event: test
                        is_api: false
                        ip: null
                        description: 'Et sit odit est qui dolor placeat cupiditate qui. In maiores aut necessitatibus sed impedit suscipit. Sed voluptatem ab corrupti unde rerum.'
                        properties: {  }
                        has_additional_metadata: false
                        timestamp: '2025-03-14T18:50:02+00:00'
                  meta:
                    pagination:
                      total: 2
                      count: 2
                      per_page: 25
                      current_page: 1
                      total_pages: 1
                      links: {  }
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    example:
                      -
                        object: activity_log
                        attributes:
                          id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                          batch: null
                          type: user
                          event: test
                          is_api: false
                          ip: null
                          description: 'Non explicabo soluta omnis expedita vel magni. Qui tempora saepe ut dicta et dolorum tempore. Similique et asperiores libero facilis animi rerum.'
                          properties: []
                          has_additional_metadata: false
                          timestamp: '2025-03-14T18:50:02+00:00'
                      -
                        object: activity_log
                        attributes:
                          id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                          batch: null
                          type: user
                          event: test
                          is_api: false
                          ip: null
                          description: 'Et sit odit est qui dolor placeat cupiditate qui. In maiores aut necessitatibus sed impedit suscipit. Sed voluptatem ab corrupti unde rerum.'
                          properties: []
                          has_additional_metadata: false
                          timestamp: '2025-03-14T18:50:02+00:00'
                    items:
                      type: object
                      properties:
                        object:
                          type: string
                          example: activity_log
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              example: da39a3ee5e6b4b0d3255bfef95601890afd80709
                            batch:
                              type: string
                              example: null
                            type:
                              type: string
                              example: user
                            event:
                              type: string
                              example: test
                            is_api:
                              type: boolean
                              example: false
                            ip:
                              type: string
                              example: null
                            description:
                              type: string
                              example: 'Non explicabo soluta omnis expedita vel magni. Qui tempora saepe ut dicta et dolorum tempore. Similique et asperiores libero facilis animi rerum.'
                            properties:
                              type: object
                              properties: {  }
                            has_additional_metadata:
                              type: boolean
                              example: false
                            timestamp:
                              type: string
                              example: '2025-03-14T18:50:02+00:00'
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          count:
                            type: integer
                            example: 2
                          per_page:
                            type: integer
                            example: 25
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                          links:
                            type: object
                            properties: {  }
      tags:
        - Account
  /api/client/account/deleted-servers:
    get:
      summary: 'Get deleted servers.'
      operationId: getDeletedServers
      description: 'Returns all deleted servers the authenticated user previously owned.'
      parameters:
        -
          in: query
          name: target_restore_server
          description: 'If present and set to an ID of an active Server, a `restore_info` relation will be added to each `deleted_server` object, indicating if the deleted server has a backup and if that backup can be restored to the specified server id. The <code>id</code> of an existing record in the servers table.'
          example: null
          required: false
          schema:
            type: string
            description: 'If present and set to an ID of an active Server, a `restore_info` relation will be added to each `deleted_server` object, indicating if the deleted server has a backup and if that backup can be restored to the specified server id. The <code>id</code> of an existing record in the servers table.'
            example: null
        -
          in: query
          name: 'filters[terminated_after]'
          description: 'Filter servers that were terminated after a specific date'
          example: ''
          required: false
          schema:
            type: string
            description: 'Filter servers that were terminated after a specific date'
            example: ''
        -
          in: query
          name: page
          description: 'Page number for pagination'
          example: '2'
          required: false
          schema:
            type: integer
            description: 'Page number for pagination'
            example: '2'
        -
          in: query
          name: per_page
          description: 'Maximum number of resources to return per-page'
          example: '10'
          required: false
          schema:
            type: integer
            description: 'Maximum number of resources to return per-page'
            example: '10'
      responses:
        200:
          description: 'List of Deleted Servers'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: list
                  data:
                    -
                      object: deleted_server
                      attributes:
                        id: 296
                        name: Hannah
                        memory: 2048
                        node_type: premium
                        ip: 144.152.251.200
                        port: 7397
                        terminated_at: '2025-03-14T18:50:02.000000Z'
                    -
                      object: deleted_server
                      attributes:
                        id: 279
                        name: Cornelius
                        memory: 2048
                        node_type: premium
                        ip: 144.100.54.109
                        port: 14072
                        terminated_at: '2025-03-14T18:50:03.000000Z'
                  meta:
                    pagination:
                      total: 2
                      count: 2
                      per_page: 10
                      current_page: 1
                      total_pages: 1
                      links: {  }
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    example:
                      -
                        object: deleted_server
                        attributes:
                          id: 296
                          name: Hannah
                          memory: 2048
                          node_type: premium
                          ip: 144.152.251.200
                          port: 7397
                          terminated_at: '2025-03-14T18:50:02.000000Z'
                      -
                        object: deleted_server
                        attributes:
                          id: 279
                          name: Cornelius
                          memory: 2048
                          node_type: premium
                          ip: 144.100.54.109
                          port: 14072
                          terminated_at: '2025-03-14T18:50:03.000000Z'
                    items:
                      type: object
                      properties:
                        object:
                          type: string
                          example: deleted_server
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 296
                            name:
                              type: string
                              example: Hannah
                            memory:
                              type: integer
                              example: 2048
                            node_type:
                              type: string
                              example: premium
                            ip:
                              type: string
                              example: 144.152.251.200
                            port:
                              type: integer
                              example: 7397
                            terminated_at:
                              type: string
                              example: '2025-03-14T18:50:02.000000Z'
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          count:
                            type: integer
                            example: 2
                          per_page:
                            type: integer
                            example: 10
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                          links:
                            type: object
                            properties: {  }
      tags:
        - Account
  /api/client:
    get:
      summary: 'Get servers.'
      operationId: getServers
      description: "Returns all servers available to the authenticated user. Including\nboth servers they own and servers they are a subuser on."
      parameters:
        -
          in: query
          name: type
          description: "Filters servers by the authenticated user's relationship to them.\n\nIf empty (the default), all servers the authenticated user has access to will be returned.\n\nIf set to `owner`, only servers the authenticated user directly owns will be returned.\n\n(Admin-only) If set to `admin`, all servers the authenticated user doesn't own will be returned.\n\n(Admin-only) If set to `admin-all`, all servers on the panel will be returned."
          example: ''
          required: false
          schema:
            type: string
            description: "Filters servers by the authenticated user's relationship to them.\n\nIf empty (the default), all servers the authenticated user has access to will be returned.\n\nIf set to `owner`, only servers the authenticated user directly owns will be returned.\n\n(Admin-only) If set to `admin`, all servers the authenticated user doesn't own will be returned.\n\n(Admin-only) If set to `admin-all`, all servers on the panel will be returned."
            example: ''
            enum:
              - owner
              - admin
              - admin-all
        -
          in: query
          name: 'filters[uuid]'
          description: "Filter by a server's uuid"
          example: ''
          required: false
          schema:
            type: string
            description: "Filter by a server's uuid"
            example: ''
        -
          in: query
          name: 'filters[name]'
          description: "Filter by a server's name"
          example: ''
          required: false
          schema:
            type: string
            description: "Filter by a server's name"
            example: ''
        -
          in: query
          name: page
          description: 'Page number for pagination'
          example: '2'
          required: false
          schema:
            type: integer
            description: 'Page number for pagination'
            example: '2'
        -
          in: query
          name: per_page
          description: 'Maximum number of resources to return per-page'
          example: '50'
          required: false
          schema:
            type: integer
            description: 'Maximum number of resources to return per-page'
            example: '50'
      responses:
        200:
          description: 'List of Servers'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: list
                  data:
                    -
                      object: server
                      attributes:
                        server_owner: false
                        identifier: 5f1680e2
                        internal_id: null
                        external_id: null
                        parent: null
                        uuid: 5f1680e2-5833-4826-9028-ff14ce38812a
                        name: Aurelie
                        is_node_under_maintenance: false
                        in_conflict_state: false
                        sftp_details:
                          ip: 37.155.51.112
                          port: 2222
                        description: 'Sit voluptate modi quos hic totam tenetur. Sequi consequuntur reiciendis assumenda voluptatum. Eum est quos natus.'
                        limits:
                          memory: 512
                          swap: 0
                          disk: 512
                          io: 500
                          cpu: 0
                          threads: null
                          oom_killer: null
                        abilities: null
                        invocation: '/bin/bash echo "hello world"'
                        docker_image: 'foo/bar:latest'
                        egg_features:
                          - premium
                          - preinstalls
                        egg_name: 'Prof. Carmel Bashirian'
                        bot_type: null
                        owner_id: null
                        owner_email: null
                        feature_limits:
                          allocations: 1
                          backups: 4
                          databases: 1
                          subservers: 3
                        action: installing
                        status: null
                        status_reason: null
                        is_transferring: false
                        subdomain: null
                        node:
                          name: FactoryNode_Uh1muKWXBb
                          location: na
                          type: premium
                          status_link: 'https://status.pebblehost.com/nodes/name/FactoryNode_Uh1muKWXBb/d7c446ddd258'
                        migrate_by: null
                        timezone: Etc/GMT
                        relationships:
                          allocations:
                            object: list
                            data:
                              -
                                object: allocation
                                attributes:
                                  id: 8848415
                                  ip: 78.99.2.134
                                  ip_alias: null
                                  port: 44944
                                  notes: null
                                  is_default: false
                          variables:
                            object: null_resource
                            attributes: null
                    -
                      object: server
                      attributes:
                        server_owner: false
                        identifier: 7999f4a5
                        internal_id: null
                        external_id: null
                        parent: null
                        uuid: 7999f4a5-7bf0-442e-84a2-433d3a7ec2dd
                        name: Xander
                        is_node_under_maintenance: false
                        in_conflict_state: false
                        sftp_details:
                          ip: 58.229.72.185
                          port: 2222
                        description: 'A facilis neque qui facere vitae ea sunt. Magni laudantium ipsa cupiditate quidem vel pariatur et. Consequatur sit occaecati non velit quo.'
                        limits:
                          memory: 512
                          swap: 0
                          disk: 512
                          io: 500
                          cpu: 0
                          threads: null
                          oom_killer: null
                        abilities: null
                        invocation: '/bin/bash echo "hello world"'
                        docker_image: 'foo/bar:latest'
                        egg_features:
                          - premium
                          - preinstalls
                        egg_name: 'Albin Stoltenberg'
                        bot_type: null
                        owner_id: null
                        owner_email: null
                        feature_limits:
                          allocations: 1
                          backups: 4
                          databases: 1
                          subservers: 3
                        action: installing
                        status: null
                        status_reason: null
                        is_transferring: false
                        subdomain: null
                        node:
                          name: FactoryNode_BgDEccctOW
                          location: na
                          type: premium
                          status_link: 'https://status.pebblehost.com/nodes/name/FactoryNode_BgDEccctOW/a72149f822d5'
                        migrate_by: null
                        timezone: Etc/GMT
                        relationships:
                          allocations:
                            object: list
                            data:
                              -
                                object: allocation
                                attributes:
                                  id: 8848419
                                  ip: 114.185.13.48
                                  ip_alias: null
                                  port: 6070
                                  notes: null
                                  is_default: false
                          variables:
                            object: null_resource
                            attributes: null
                  meta:
                    pagination:
                      total: 2
                      count: 2
                      per_page: 50
                      current_page: 1
                      total_pages: 1
                      links: {  }
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    example:
                      -
                        object: server
                        attributes:
                          server_owner: false
                          identifier: 5f1680e2
                          internal_id: null
                          external_id: null
                          parent: null
                          uuid: 5f1680e2-5833-4826-9028-ff14ce38812a
                          name: Aurelie
                          is_node_under_maintenance: false
                          in_conflict_state: false
                          sftp_details:
                            ip: 37.155.51.112
                            port: 2222
                          description: 'Sit voluptate modi quos hic totam tenetur. Sequi consequuntur reiciendis assumenda voluptatum. Eum est quos natus.'
                          limits:
                            memory: 512
                            swap: 0
                            disk: 512
                            io: 500
                            cpu: 0
                            threads: null
                            oom_killer: null
                          abilities: null
                          invocation: '/bin/bash echo "hello world"'
                          docker_image: 'foo/bar:latest'
                          egg_features:
                            - premium
                            - preinstalls
                          egg_name: 'Prof. Carmel Bashirian'
                          bot_type: null
                          owner_id: null
                          owner_email: null
                          feature_limits:
                            allocations: 1
                            backups: 4
                            databases: 1
                            subservers: 3
                          action: installing
                          status: null
                          status_reason: null
                          is_transferring: false
                          subdomain: null
                          node:
                            name: FactoryNode_Uh1muKWXBb
                            location: na
                            type: premium
                            status_link: 'https://status.pebblehost.com/nodes/name/FactoryNode_Uh1muKWXBb/d7c446ddd258'
                          migrate_by: null
                          timezone: Etc/GMT
                          relationships:
                            allocations:
                              object: list
                              data:
                                -
                                  object: allocation
                                  attributes:
                                    id: 8848415
                                    ip: 78.99.2.134
                                    ip_alias: null
                                    port: 44944
                                    notes: null
                                    is_default: false
                            variables:
                              object: null_resource
                              attributes: null
                      -
                        object: server
                        attributes:
                          server_owner: false
                          identifier: 7999f4a5
                          internal_id: null
                          external_id: null
                          parent: null
                          uuid: 7999f4a5-7bf0-442e-84a2-433d3a7ec2dd
                          name: Xander
                          is_node_under_maintenance: false
                          in_conflict_state: false
                          sftp_details:
                            ip: 58.229.72.185
                            port: 2222
                          description: 'A facilis neque qui facere vitae ea sunt. Magni laudantium ipsa cupiditate quidem vel pariatur et. Consequatur sit occaecati non velit quo.'
                          limits:
                            memory: 512
                            swap: 0
                            disk: 512
                            io: 500
                            cpu: 0
                            threads: null
                            oom_killer: null
                          abilities: null
                          invocation: '/bin/bash echo "hello world"'
                          docker_image: 'foo/bar:latest'
                          egg_features:
                            - premium
                            - preinstalls
                          egg_name: 'Albin Stoltenberg'
                          bot_type: null
                          owner_id: null
                          owner_email: null
                          feature_limits:
                            allocations: 1
                            backups: 4
                            databases: 1
                            subservers: 3
                          action: installing
                          status: null
                          status_reason: null
                          is_transferring: false
                          subdomain: null
                          node:
                            name: FactoryNode_BgDEccctOW
                            location: na
                            type: premium
                            status_link: 'https://status.pebblehost.com/nodes/name/FactoryNode_BgDEccctOW/a72149f822d5'
                          migrate_by: null
                          timezone: Etc/GMT
                          relationships:
                            allocations:
                              object: list
                              data:
                                -
                                  object: allocation
                                  attributes:
                                    id: 8848419
                                    ip: 114.185.13.48
                                    ip_alias: null
                                    port: 6070
                                    notes: null
                                    is_default: false
                            variables:
                              object: null_resource
                              attributes: null
                    items:
                      type: object
                      properties:
                        object:
                          type: string
                          example: server
                        attributes:
                          type: object
                          properties:
                            server_owner:
                              type: boolean
                              example: false
                            identifier:
                              type: string
                              example: 5f1680e2
                            internal_id:
                              type: string
                              example: null
                            external_id:
                              type: string
                              example: null
                            parent:
                              type: string
                              example: null
                            uuid:
                              type: string
                              example: 5f1680e2-5833-4826-9028-ff14ce38812a
                            name:
                              type: string
                              example: Aurelie
                            is_node_under_maintenance:
                              type: boolean
                              example: false
                            in_conflict_state:
                              type: boolean
                              example: false
                            sftp_details:
                              type: object
                              properties:
                                ip:
                                  type: string
                                  example: 37.155.51.112
                                port:
                                  type: integer
                                  example: 2222
                            description:
                              type: string
                              example: 'Sit voluptate modi quos hic totam tenetur. Sequi consequuntur reiciendis assumenda voluptatum. Eum est quos natus.'
                            limits:
                              type: object
                              properties:
                                memory:
                                  type: integer
                                  example: 512
                                swap:
                                  type: integer
                                  example: 0
                                disk:
                                  type: integer
                                  example: 512
                                io:
                                  type: integer
                                  example: 500
                                cpu:
                                  type: integer
                                  example: 0
                                threads:
                                  type: string
                                  example: null
                                oom_killer:
                                  type: string
                                  example: null
                            abilities:
                              type: string
                              example: null
                            invocation:
                              type: string
                              example: '/bin/bash echo "hello world"'
                            docker_image:
                              type: string
                              example: 'foo/bar:latest'
                            egg_features:
                              type: array
                              example:
                                - premium
                                - preinstalls
                              items:
                                type: string
                            egg_name:
                              type: string
                              example: 'Prof. Carmel Bashirian'
                            bot_type:
                              type: string
                              example: null
                            owner_id:
                              type: string
                              example: null
                            owner_email:
                              type: string
                              example: null
                            feature_limits:
                              type: object
                              properties:
                                allocations:
                                  type: integer
                                  example: 1
                                backups:
                                  type: integer
                                  example: 4
                                databases:
                                  type: integer
                                  example: 1
                                subservers:
                                  type: integer
                                  example: 3
                            action:
                              type: string
                              example: installing
                            status:
                              type: string
                              example: null
                            status_reason:
                              type: string
                              example: null
                            is_transferring:
                              type: boolean
                              example: false
                            subdomain:
                              type: string
                              example: null
                            node:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: FactoryNode_Uh1muKWXBb
                                location:
                                  type: string
                                  example: na
                                type:
                                  type: string
                                  example: premium
                                status_link:
                                  type: string
                                  example: 'https://status.pebblehost.com/nodes/name/FactoryNode_Uh1muKWXBb/d7c446ddd258'
                            migrate_by:
                              type: string
                              example: null
                            timezone:
                              type: string
                              example: Etc/GMT
                            relationships:
                              type: object
                              properties:
                                allocations:
                                  type: object
                                  properties:
                                    object:
                                      type: string
                                      example: list
                                    data:
                                      type: array
                                      example: [{ object: allocation, attributes: { id: 8848415, ip: 78.99.2.134, ip_alias: null, port: 44944, notes: null, is_default: false } }]
                                      items: { type: object, properties: { object: { type: string, example: allocation }, attributes: { type: object, properties: { id: { type: integer, example: 8848415 }, ip: { type: string, example: 78.99.2.134 }, ip_alias: { type: string, example: null }, port: { type: integer, example: 44944 }, notes: { type: string, example: null }, is_default: { type: boolean, example: false } } } } }
                                variables:
                                  type: object
                                  properties:
                                    object:
                                      type: string
                                      example: null_resource
                                    attributes:
                                      type: string
                                      example: null
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          count:
                            type: integer
                            example: 2
                          per_page:
                            type: integer
                            example: 50
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                          links:
                            type: object
                            properties: {  }
      tags:
        - Endpoints
  /api/client/permissions:
    get:
      summary: 'Get permissions list.'
      operationId: getPermissionsList
      description: 'Returns all the subuser permissions available on the system.'
      parameters: []
      responses:
        200:
          description: 'List of Permissions'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: system_permissions
                  attributes:
                    permissions: []
                properties:
                  object:
                    type: string
                    example: system_permissions
                  attributes:
                    type: object
                    properties:
                      permissions:
                        type: array
                        example: []
      tags:
        - Endpoints
  /api/client/myip:
    get:
      summary: ''
      operationId: getApiClientMyip
      description: ''
      parameters: []
      responses:
        200:
          description: 'IP Address'
          content:
            text/plain:
              schema:
                type: string
                example: 127.0.0.1
      tags:
        - Endpoints
  '/api/client/servers/{server}':
    get:
      summary: 'Get server.'
      operationId: getServer
      description: 'Returns information about a given server.'
      parameters: []
      responses:
        200:
          description: Server
          content:
            application/json:
              schema:
                type: object
                example:
                  object: server
                  attributes:
                    server_owner: false
                    identifier: 900530bb
                    internal_id: null
                    external_id: null
                    parent: null
                    uuid: 900530bb-84ae-4a40-82cf-4229633d952b
                    name: Hassie
                    is_node_under_maintenance: false
                    in_conflict_state: false
                    sftp_details:
                      ip: 10.107.85.153
                      port: 2222
                    description: 'Fuga labore veniam quia sint earum natus placeat sunt. Qui quia placeat ex vero dolores maxime. Magnam repudiandae et autem qui animi quisquam perspiciatis.'
                    limits:
                      memory: 512
                      swap: 0
                      disk: 512
                      io: 500
                      cpu: 0
                      threads: null
                      oom_killer: null
                    abilities: null
                    invocation: '/bin/bash echo "hello world"'
                    docker_image: 'foo/bar:latest'
                    egg_features:
                      - premium
                      - preinstalls
                    egg_name: 'Sibyl Torphy'
                    bot_type: null
                    owner_id: null
                    owner_email: null
                    feature_limits:
                      allocations: 1
                      backups: 4
                      databases: 1
                      subservers: 3
                    action: installing
                    status: null
                    status_reason: null
                    is_transferring: false
                    subdomain: null
                    node:
                      name: FactoryNode_J95CqJaBxX
                      location: na
                      type: premium
                      status_link: 'https://status.pebblehost.com/nodes/name/FactoryNode_J95CqJaBxX/9e306344fa96'
                    migrate_by: null
                    timezone: Etc/GMT
                    relationships:
                      allocations:
                        object: list
                        data:
                          -
                            object: allocation
                            attributes:
                              id: 8848423
                              ip: 128.254.252.83
                              ip_alias: null
                              port: 24593
                              notes: null
                              is_default: false
                      variables:
                        object: null_resource
                        attributes: null
                properties:
                  object:
                    type: string
                    example: server
                  attributes:
                    type: object
                    properties:
                      server_owner:
                        type: boolean
                        example: false
                      identifier:
                        type: string
                        example: 900530bb
                      internal_id:
                        type: string
                        example: null
                      external_id:
                        type: string
                        example: null
                      parent:
                        type: string
                        example: null
                      uuid:
                        type: string
                        example: 900530bb-84ae-4a40-82cf-4229633d952b
                      name:
                        type: string
                        example: Hassie
                      is_node_under_maintenance:
                        type: boolean
                        example: false
                      in_conflict_state:
                        type: boolean
                        example: false
                      sftp_details:
                        type: object
                        properties:
                          ip:
                            type: string
                            example: 10.107.85.153
                          port:
                            type: integer
                            example: 2222
                      description:
                        type: string
                        example: 'Fuga labore veniam quia sint earum natus placeat sunt. Qui quia placeat ex vero dolores maxime. Magnam repudiandae et autem qui animi quisquam perspiciatis.'
                      limits:
                        type: object
                        properties:
                          memory:
                            type: integer
                            example: 512
                          swap:
                            type: integer
                            example: 0
                          disk:
                            type: integer
                            example: 512
                          io:
                            type: integer
                            example: 500
                          cpu:
                            type: integer
                            example: 0
                          threads:
                            type: string
                            example: null
                          oom_killer:
                            type: string
                            example: null
                      abilities:
                        type: string
                        example: null
                      invocation:
                        type: string
                        example: '/bin/bash echo "hello world"'
                      docker_image:
                        type: string
                        example: 'foo/bar:latest'
                      egg_features:
                        type: array
                        example:
                          - premium
                          - preinstalls
                        items:
                          type: string
                      egg_name:
                        type: string
                        example: 'Sibyl Torphy'
                      bot_type:
                        type: string
                        example: null
                      owner_id:
                        type: string
                        example: null
                      owner_email:
                        type: string
                        example: null
                      feature_limits:
                        type: object
                        properties:
                          allocations:
                            type: integer
                            example: 1
                          backups:
                            type: integer
                            example: 4
                          databases:
                            type: integer
                            example: 1
                          subservers:
                            type: integer
                            example: 3
                      action:
                        type: string
                        example: installing
                      status:
                        type: string
                        example: null
                      status_reason:
                        type: string
                        example: null
                      is_transferring:
                        type: boolean
                        example: false
                      subdomain:
                        type: string
                        example: null
                      node:
                        type: object
                        properties:
                          name:
                            type: string
                            example: FactoryNode_J95CqJaBxX
                          location:
                            type: string
                            example: na
                          type:
                            type: string
                            example: premium
                          status_link:
                            type: string
                            example: 'https://status.pebblehost.com/nodes/name/FactoryNode_J95CqJaBxX/9e306344fa96'
                      migrate_by:
                        type: string
                        example: null
                      timezone:
                        type: string
                        example: Etc/GMT
                      relationships:
                        type: object
                        properties:
                          allocations:
                            type: object
                            properties:
                              object:
                                type: string
                                example: list
                              data:
                                type: array
                                example:
                                  -
                                    object: allocation
                                    attributes:
                                      id: 8848423
                                      ip: 128.254.252.83
                                      ip_alias: null
                                      port: 24593
                                      notes: null
                                      is_default: false
                                items:
                                  type: object
                                  properties:
                                    object:
                                      type: string
                                      example: allocation
                                    attributes:
                                      type: object
                                      properties: { id: { type: integer, example: 8848423 }, ip: { type: string, example: 128.254.252.83 }, ip_alias: { type: string, example: null }, port: { type: integer, example: 24593 }, notes: { type: string, example: null }, is_default: { type: boolean, example: false } }
                          variables:
                            type: object
                            properties:
                              object:
                                type: string
                                example: null_resource
                              attributes:
                                type: string
                                example: null
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: 7cc97045-b39f-4f29-8509-6f8ec644ef6d
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/resources':
    get:
      summary: 'Get server statistics.'
      operationId: getServerStatistics
      description: "Return the current resource utilization for a server. This value is cached for up to\n20 seconds at a time to ensure that repeated requests to this endpoint do not cause\na flood of unnecessary API calls."
      parameters: []
      responses:
        200:
          description: 'Server Stats'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: stats
                  attributes:
                    state: stopped
                    status: null
                    resources:
                      memory_bytes: 0
                      cpu_absolute: 0
                      disk_bytes: 0
                      network_rx_bytes: 0
                      network_tx_bytes: 0
                      uptime: 0
                properties:
                  object:
                    type: string
                    example: stats
                  attributes:
                    type: object
                    properties:
                      state:
                        type: string
                        example: stopped
                      status:
                        type: string
                        example: null
                      resources:
                        type: object
                        properties:
                          memory_bytes:
                            type: integer
                            example: 0
                          cpu_absolute:
                            type: integer
                            example: 0
                          disk_bytes:
                            type: integer
                            example: 0
                          network_rx_bytes:
                            type: integer
                            example: 0
                          network_tx_bytes:
                            type: integer
                            example: 0
                          uptime:
                            type: integer
                            example: 0
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
        502:
          description: DaemonConnectionException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: DaemonConnectionException
                      status: '502'
                      detail: ''
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: DaemonConnectionException
                        status: '502'
                        detail: ''
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: DaemonConnectionException
                        status:
                          type: string
                          example: '502'
                        detail:
                          type: string
                          example: ''
      tags:
        - Server
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: a593f358-418b-4494-bab7-5a70e8f00710
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/activity':
    get:
      summary: 'Get server activity logs.'
      operationId: getServerActivityLogs
      description: 'Returns the activity logs for a server.'
      parameters:
        -
          in: query
          name: include
          description: 'Additional relationships to include in the response'
          example: actor
          required: false
          schema:
            type: array
            description: 'Additional relationships to include in the response'
            example: actor
            items:
              type: string
              enum:
                - actor
        -
          in: query
          name: 'filters[actor_id]'
          description: 'Filter by actor'
          example: ''
          required: false
          schema:
            type: string
            description: 'Filter by actor'
            example: ''
        -
          in: query
          name: 'filters[event]'
          description: 'Filter by event type (partial)'
          example: power.start
          required: false
          schema:
            type: string
            description: 'Filter by event type (partial)'
            example: power.start
        -
          in: query
          name: sort
          description: 'Sort by field, by default the sort order is ascending, to sort in descending order prefix the field with a hypen (`-`)'
          example: timestamp
          required: false
          schema:
            type: string
            description: 'Sort by field, by default the sort order is ascending, to sort in descending order prefix the field with a hypen (`-`)'
            example: timestamp
        -
          in: query
          name: page
          description: 'Page number for pagination'
          example: '2'
          required: false
          schema:
            type: integer
            description: 'Page number for pagination'
            example: '2'
        -
          in: query
          name: per_page
          description: 'Maximum number of resources to return per-page'
          example: '25'
          required: false
          schema:
            type: integer
            description: 'Maximum number of resources to return per-page'
            example: '25'
      responses:
        200:
          description: 'List of Activity Logs'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: list
                  data:
                    -
                      object: activity_log
                      attributes:
                        id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                        batch: null
                        type: user
                        event: test
                        is_api: false
                        ip: null
                        description: 'Error vel qui qui eos sint qui et. Rem labore soluta nulla et aut. Nesciunt neque quia aut deserunt.'
                        properties: {  }
                        has_additional_metadata: false
                        timestamp: '2025-03-14T18:50:05+00:00'
                    -
                      object: activity_log
                      attributes:
                        id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                        batch: null
                        type: user
                        event: test
                        is_api: false
                        ip: null
                        description: 'Est et molestiae ipsam. Ut dignissimos aut aspernatur laboriosam non et. Perspiciatis et velit vel illum minima rerum eos.'
                        properties: {  }
                        has_additional_metadata: false
                        timestamp: '2025-03-14T18:50:05+00:00'
                  meta:
                    pagination:
                      total: 2
                      count: 2
                      per_page: 25
                      current_page: 1
                      total_pages: 1
                      links: {  }
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    example:
                      -
                        object: activity_log
                        attributes:
                          id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                          batch: null
                          type: user
                          event: test
                          is_api: false
                          ip: null
                          description: 'Error vel qui qui eos sint qui et. Rem labore soluta nulla et aut. Nesciunt neque quia aut deserunt.'
                          properties: []
                          has_additional_metadata: false
                          timestamp: '2025-03-14T18:50:05+00:00'
                      -
                        object: activity_log
                        attributes:
                          id: da39a3ee5e6b4b0d3255bfef95601890afd80709
                          batch: null
                          type: user
                          event: test
                          is_api: false
                          ip: null
                          description: 'Est et molestiae ipsam. Ut dignissimos aut aspernatur laboriosam non et. Perspiciatis et velit vel illum minima rerum eos.'
                          properties: []
                          has_additional_metadata: false
                          timestamp: '2025-03-14T18:50:05+00:00'
                    items:
                      type: object
                      properties:
                        object:
                          type: string
                          example: activity_log
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              example: da39a3ee5e6b4b0d3255bfef95601890afd80709
                            batch:
                              type: string
                              example: null
                            type:
                              type: string
                              example: user
                            event:
                              type: string
                              example: test
                            is_api:
                              type: boolean
                              example: false
                            ip:
                              type: string
                              example: null
                            description:
                              type: string
                              example: 'Error vel qui qui eos sint qui et. Rem labore soluta nulla et aut. Nesciunt neque quia aut deserunt.'
                            properties:
                              type: object
                              properties: {  }
                            has_additional_metadata:
                              type: boolean
                              example: false
                            timestamp:
                              type: string
                              example: '2025-03-14T18:50:05+00:00'
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 2
                          count:
                            type: integer
                            example: 2
                          per_page:
                            type: integer
                            example: 25
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                          links:
                            type: object
                            properties: {  }
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: 33fb0a5a-c072-4864-bf82-07cf99e76b0b
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/activity/filters':
    get:
      summary: 'Get server activity log filters.'
      operationId: getServerActivityLogFilters
      description: 'Returns the possible values for a server.'
      parameters: []
      responses:
        200:
          description: 'List of available filters'
          content:
            application/json:
              schema:
                type: object
                example:
                  events:
                    file:
                      - pull
                      - read
                      - write
                      - uploaded
                      - download
                      - compress
                      - delete
                      - decompress
                      - create-directory
                      - extract
                      - rename
                      - recycle
                      - restore
                    startup:
                      - edit
                    power:
                      - start
                      - restart
                      - kill
                      - stop
                    player:
                      - ban
                      - op
                      - deop
                    subuser:
                      - create
                      - delete
                    schedule:
                      - create
                      - update
                      - execute
                    task:
                      - create
                      - delete
                    subserver:
                      - create
                      - delete
                      - update
                    operation:
                      - cancel
                    console:
                      - command
                    database:
                      - create
                    backup:
                      - download-mysql
                    firewall:
                      - create
                      - ddos-create
                      - ddos-delete
                      - delete
                    allocation:
                      - create
                    whitelist:
                      - add
                      - remove
                    modpack:
                      - install
                  actors:
                    -
                      id: 1
                      email: user@example.com
                    -
                      id: 2
                      email: test@test.com
                properties:
                  events:
                    type: object
                    properties:
                      file:
                        type: array
                        example:
                          - pull
                          - read
                          - write
                          - uploaded
                          - download
                          - compress
                          - delete
                          - decompress
                          - create-directory
                          - extract
                          - rename
                          - recycle
                          - restore
                        items:
                          type: string
                      startup:
                        type: array
                        example:
                          - edit
                        items:
                          type: string
                      power:
                        type: array
                        example:
                          - start
                          - restart
                          - kill
                          - stop
                        items:
                          type: string
                      player:
                        type: array
                        example:
                          - ban
                          - op
                          - deop
                        items:
                          type: string
                      subuser:
                        type: array
                        example:
                          - create
                          - delete
                        items:
                          type: string
                      schedule:
                        type: array
                        example:
                          - create
                          - update
                          - execute
                        items:
                          type: string
                      task:
                        type: array
                        example:
                          - create
                          - delete
                        items:
                          type: string
                      subserver:
                        type: array
                        example:
                          - create
                          - delete
                          - update
                        items:
                          type: string
                      operation:
                        type: array
                        example:
                          - cancel
                        items:
                          type: string
                      console:
                        type: array
                        example:
                          - command
                        items:
                          type: string
                      database:
                        type: array
                        example:
                          - create
                        items:
                          type: string
                      backup:
                        type: array
                        example:
                          - download-mysql
                        items:
                          type: string
                      firewall:
                        type: array
                        example:
                          - create
                          - ddos-create
                          - ddos-delete
                          - delete
                        items:
                          type: string
                      allocation:
                        type: array
                        example:
                          - create
                        items:
                          type: string
                      whitelist:
                        type: array
                        example:
                          - add
                          - remove
                        items:
                          type: string
                      modpack:
                        type: array
                        example:
                          - install
                        items:
                          type: string
                  actors:
                    type: array
                    example:
                      -
                        id: 1
                        email: user@example.com
                      -
                        id: 2
                        email: test@test.com
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        email:
                          type: string
                          example: user@example.com
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: 76b0d3c6-faf5-49cd-aa53-6ae47c1ff6c1
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/analytics':
    get:
      summary: 'Get Server resource analytics.'
      operationId: getServerResourceAnalytics
      description: 'Returns resource analytics for a server.'
      parameters:
        -
          in: query
          name: days
          description: 'Number of days to get analytics for. Must not be greater than 10.'
          example: 7
          required: false
          schema:
            type: integer
            description: 'Number of days to get analytics for. Must not be greater than 10.'
            example: 7
      responses:
        200:
          description: Analytics
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    t: 1726080323000
                    c: 0
                    m: 0
                    i: 0
                    o: 0
                    d: 0
                  -
                    t: 1726080385000
                    c: 0
                    m: 0
                    i: 0
                    o: 0
                    d: 0
                  -
                    t: 1726080444000
                    c: 0
                    m: 0
                    i: 0
                    o: 0
                    d: 0
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: bfd33a13-b35d-4c9d-9dfb-c2a0d66cc606
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/import':
    post:
      summary: 'Import server.'
      operationId: importServer
      description: 'Runs the server importer to import files from another host.'
      parameters: []
      responses:
        204:
          description: 'Import started'
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
        502:
          description: DaemonConnectionException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: DaemonConnectionException
                      status: '502'
                      detail: ''
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: DaemonConnectionException
                        status: '502'
                        detail: ''
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: DaemonConnectionException
                        status:
                          type: string
                          example: '502'
                        detail:
                          type: string
                          example: ''
      tags:
        - Server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                protocol:
                  type: string
                  description: 'Protocol used to transfer data over.'
                  example: sftp
                  enum:
                    - ftp
                    - sftp
                host:
                  type: string
                  description: 'Host to connect to.'
                  example: some-other-host.com
                port:
                  type: number
                  description: 'Port to connect to. Must be at least 1. Must not be greater than 65535.'
                  example: 2022.0
                user:
                  type: string
                  description: 'User to authenticate with.'
                  example: ''
                pass:
                  type: string
                  description: 'Password to authenticate with.'
                  example: ''
              required:
                - protocol
                - host
                - port
                - user
                - pass
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: f6706474-4e0d-4869-b603-e29064af92e6
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/migration':
    get:
      summary: 'Get server migration locations.'
      operationId: getServerMigrationLocations
      description: "Returns the locations a server is able to be migrate to based on it's tier."
      parameters: []
      responses:
        200:
          description: 'Available locations for migration or transfer'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - na
                  - eu
                  - au
                  - us
                  - fl
                  - sg
      tags:
        - Server
    post:
      summary: 'Migrate server.'
      operationId: migrateServer
      description: 'Starts the migration process for a server.'
      parameters: []
      responses:
        204:
          description: 'Migration started'
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
        502:
          description: DaemonConnectionException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: DaemonConnectionException
                      status: '502'
                      detail: ''
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: DaemonConnectionException
                        status: '502'
                        detail: ''
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: DaemonConnectionException
                        status:
                          type: string
                          example: '502'
                        detail:
                          type: string
                          example: ''
      tags:
        - Server
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: 'Location to migrate the server to.'
                  example: na
                  enum:
                    - na
                    - eu
                    - au
                    - us
                    - fl
                    - sg
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: 35c20d73-bc2f-4170-ab26-e338e5898dc9
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/settings/rename':
    post:
      summary: 'Rename server.'
      operationId: renameServer
      description: 'Renames a server.'
      parameters: []
      responses:
        204:
          description: 'Server renamed'
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of your server. Must be at least 1 character. Must not be greater than 191 characters.'
                  example: 'My Minecraft Server'
                description:
                  type: string
                  description: 'Description to store alongside the server.'
                  example: 'This is the main server.'
              required:
                - name
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: 5cb735d4-c95c-4159-bc40-a65560f6418b
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/settings/subdomain':
    post:
      summary: 'Set server subdomain.'
      operationId: setServerSubdomain
      description: 'Sets the subdomain for a server.'
      parameters: []
      responses:
        204:
          description: 'Subdomain updated'
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: 'Subdomain to use, automatically suffixed by ".my.pebble.host".'
                  example: my-server
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: b94b6c17-f6a4-4c7c-8c0d-2ab02eb84e8d
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/settings/timezone':
    post:
      summary: 'Adjusts server timezone.'
      operationId: adjustsServerTimezone
      description: 'Adjust the servers timezone'
      parameters: []
      responses:
        204:
          description: 'Timezone Updated'
        403:
          description: AuthorizationException
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      code: AuthorizationException
                      status: '403'
                      detail: 'This action is unauthorized.'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        code: AuthorizationException
                        status: '403'
                        detail: 'This action is unauthorized.'
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: AuthorizationException
                        status:
                          type: string
                          example: '403'
                        detail:
                          type: string
                          example: 'This action is unauthorized.'
      tags:
        - Server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                timezone:
                  type: string
                  description: ''
                  example: Pacific/Guadalcanal
                  enum:
                    - Pacific/Kwajalein
                    - Pacific/Pago_Pago
                    - Pacific/Honolulu
                    - America/Anchorage
                    - America/Los_Angeles
                    - America/Denver
                    - America/Chicago
                    - America/New_York
                    - America/Halifax
                    - America/Argentina/Buenos_Aires
                    - Atlantic/South_Georgia
                    - Atlantic/Azores
                    - Etc/GMT
                    - Europe/London
                    - Europe/Berlin
                    - Europe/Athens
                    - Europe/Moscow
                    - Asia/Dubai
                    - Asia/Karachi
                    - Asia/Almaty
                    - Asia/Bangkok
                    - Asia/Shanghai
                    - Asia/Tokyo
                    - Australia/Sydney
                    - Pacific/Guadalcanal
                    - Pacific/Fiji
              required:
                - timezone
    parameters:
      -
        in: path
        name: server
        description: 'The server.'
        example: c6900484-aef2-4494-980a-f3c49841c203
        required: true
        schema:
          type: string
  '/api/client/servers/{server}/preinstalls':
    get:
      summary: 'Get server preinstalls.'
      operationId: getServerPreinstalls
      description: 'Returns a list of preinstalls that are able to be installed to the server.'
      parameters: []
      responses:
        200:
          description: 'List of Preinstalls'
          content:
            application/json:
              schema:
                type: object
                example:
                  object: list
                  data:
                    -
                      object: preinstall
                      attributes:
                        id: null
                        name: 'Ms. Madaline Franecki'
                        description: 'Sed blanditiis illum.'
                        icon_url: 'https://dl.pebble.host/jar-icons/spigot.webp'
                    -
                      object: preinstall
                      attributes:
                        id: null
                        name: 'Roma Homenick'
                        description: 'Molestiae quia ex hic.'
                        icon_url: 'https://dl.pebble.host/jar-icons/spigot.webp'
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    example:
                      -
                        object: preinstall
                        attributes:
[...]
